div#root {
    margin: 40px;
}

html, body, .App, #root, .mainOuter {
    width: 100%;
    height: 100%;
}

.App {
    width: 100%;
    height: 100%;
}

.MainContainer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    align-items: center;
}

/*
    searchfield
*/

button.searchButton {
    color: black;
    padding: 6px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input.searchBoxUsername {
    padding: 7px 7px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/*
    displaylist
*/

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

img.userGistImage {
    width: 50px;
    vertical-align: middle;
}

.eachFork {
    display: grid;
    grid-template-columns: 30% 70%;
}

.fileSection {
    display: grid;
    grid-template-columns: 10% 80%;
}

.userNameLeft {
    display: grid;
    grid-template-columns: 30% 70%;
}

/*
    overlay
*/

.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.50);
    z-index: 1 !important;
    text-align: center;
    vertical-align: middle;
}

img.loaderImage {
    width: 7%;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 35;
    transform: translate(-50%, -50%);
    user-select: none;
}